/****** General CSS ******/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 10%);
    background-size: cover;
    height: auto;
}

#header {
    text-align:center;
    padding: 1cm;
    font-size: 55px;
    font-weight: 900;
}

h1 {
    padding: 0.25cm;
}

h2,h3 {
    padding: 0.125cm;
}

/****** NavBar ******/
.logo {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #232323;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list a {
    color: aliceblue;
    text-decoration: none;
    transition: 0.3s;
}

.nav-list a:hover {
    color: aqua;
}

.mobile-menu {
    display: none;
    cursor: pointer;  
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 92vh;
        background: #232323;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px,8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px,-7px);
}

/****** Social Media ******/
.social-media {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.social-media a {
    text-decoration: none;
    font-weight: 700;
    color: #232323;
    margin-left: 1cm;
    padding: 1rem 4rem;
    border: 1px #232323;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    transition: 0.5s ease-in-out;
}

.social-media a:hover {
    background-color: aqua;
}

/****** Section About ******/
.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    color: aliceblue;
}

.picture {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232323;
    background-image: url('./img/vapb.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.picture:hover {
    filter: grayscale(1);
}

.description {
    width: 70%;
    text-align: center;
}


